/* ------------------------ */
/* ---------------- MARGINS */
    /* AUTO */
    .mauto{ margin: auto; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto }
    .mtauto{ margin-top: auto }
    .mrauto{ margin-right: auto }
    .mbauto{ margin-bottom: auto }
    .mlauto{ margin-left: auto }
    .mvauto{ margin-top: auto; margin-bottom: auto }
    .mhauto{ margin-right: auto; margin-left: auto }
    
    /* ZERO */
    .m0{ margin: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
    .mt0{ margin-top: 0 }
    .mr0{ margin-right: 0 }
    .mb0{ margin-bottom: 0 }
    .ml0{ margin-left: 0 }
    .mv0{ margin-top: 0; margin-bottom: 0 }
    .mh0{ margin-right: 0; margin-left: 0 }

    /* 4 */
    .m4{ margin: 4px; margin-top: 4px; margin-right: 4px; margin-bottom: 4px; margin-left: 4px; }
    .mt4{ margin-top: 4px; }
    .mr4{ margin-right: 4px; }
    .mb4{ margin-bottom: 4px; }
    .ml4{ margin-left: 4px; }
    .mv4{ margin-top: 4px; margin-bottom: 4px; }
    .mh4{ margin-right: 4px; margin-left: 4px; }

    /* 8  */
    .m8{ margin: 8px; margin-top: 8px; margin-right: 8px; margin-bottom: 8px; margin-left: 8px; }
    .mt8{ margin-top: 8px; }
    .mr8{ margin-right: 8px; }
    .mb8{ margin-bottom: 8px; }
    .ml8{ margin-left: 8px; }
    .mv8{ margin-top: 8px; margin-bottom: 8px; }
    .mh8{ margin-right: 8px; margin-left: 8px; }

    /* 12  */
    .m12{ margin: 12px; margin-top: 12px; margin-right: 12px; margin-bottom: 12px; margin-left: 12px; }
    .mt12{ margin-top: 12px; }
    .mr12{ margin-right: 12px; }
    .mb12{ margin-bottom: 12px; }
    .ml12{ margin-left: 12px; }
    .mv12{ margin-top: 12px; margin-bottom: 12px; }
    .mh12{ margin-right: 12px; margin-left: 12px; }

    /* 16 */
    .m16{ margin: 16px; margin-top: 16px; margin-right: 16px; margin-bottom: 16px; margin-left: 16px; }
    .mt16{ margin-top: 16px; }
    .mr16{ margin-right: 16px; }
    .mb16{ margin-bottom: 16px; }
    .ml16{ margin-left: 16px; }
    .mv16{ margin-top: 16px; margin-bottom: 16px; }
    .mh16{ margin-right: 16px; margin-left: 16px; }

    /* 20 */
    .m20{ margin: 20px; margin-top: 20px; margin-right: 20px; margin-bottom: 20px; margin-left: 20px; }
    .mt20{ margin-top: 20px; }
    .mr20{ margin-right: 20px; }
    .mb20{ margin-bottom: 20px; }
    .ml20{ margin-left: 20px; }
    .mv20{ margin-top: 20px; margin-bottom: 20px; }
    .mh20{ margin-right: 20px; margin-left: 20px; }

    /* 24 */
    .m24{ margin: 24px; margin-top: 24px; margin-right: 24px; margin-bottom: 24px; margin-left: 24px; }
    .mt24{ margin-top: 24px; }
    .mr24{ margin-right: 24px; }
    .mb24{ margin-bottom: 24px; }
    .ml24{ margin-left: 24px; }
    .mv24{ margin-top: 24px; margin-bottom: 24px; }
    .mh24{ margin-right: 24px; margin-left: 24px; }

    /* 32 */
    .m32{ margin: 32px; margin-top: 32px; margin-right: 32px; margin-bottom: 32px; margin-left: 32px; }
    .mt32{ margin-top: 32px; }
    .mr32{ margin-right: 32px; }
    .mb32{ margin-bottom: 32px; }
    .ml32{ margin-left: 32px; }
    .mv32{ margin-top: 32px; margin-bottom: 32px; }
    .mh32{ margin-right: 32px; margin-left: 32px; }

    /* 36 */
    .m36{ margin: 36px; margin-top: 36px; margin-right: 36px; margin-bottom: 36px; margin-left: 36px; }
    .mt36{ margin-top: 36px; }
    .mr36{ margin-right: 36px; }
    .mb36{ margin-bottom: 36px; }
    .ml36{ margin-left: 36px; }
    .mv36{ margin-top: 36px; margin-bottom: 36px; }
    .mh36{ margin-right: 36px; margin-left: 36px; }

    /* 40 */
    .m40{ margin: 40px; margin-top: 40px; margin-right: 40px; margin-bottom: 40px; margin-left: 40px; }
    .mt40{ margin-top: 40px; }
    .mr40{ margin-right: 40px; }
    .mb40{ margin-bottom: 40px; }
    .ml40{ margin-left: 40px; }
    .mv40{ margin-top: 40px; margin-bottom: 40px; }
    .mh40{ margin-right: 40px; margin-left: 40px; }


/* ------------------------- */
/* ---------------- PADDINGS */

    /* AUTO */
    .pauto{ padding: auto; padding-top: auto; padding-right: auto; padding-bottom: auto; padding-left: auto }
    .ptauto{ padding-top: auto }
    .prauto{ padding-right: auto }
    .pbauto{ padding-bottom: auto }
    .plauto{ padding-left: auto }
    .pvauto{ padding-top: auto; padding-bottom: auto }
    .phauto{ padding-right: auto; padding-left: auto }
    
    /* ZERO */
    .p0{ padding: none; padding-top: none; padding-right: none; padding-bottom: none; padding-left: none; }
    .pt0{ padding-top: none; }
    .pr0{ padding-right: none; }
    .pb0{ padding-bottom: none; }
    .pl0{ padding-left: none; }
    .pv0{ padding-top: none; padding-bottom: none; }
    .ph0{ padding-right: none; padding-right: none; }

    /* 4 */
    .p4{ padding: 4px; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left: 4px; }
    .pt4{ padding-top: 4px; }
    .pr4{ padding-right: 4px; }
    .pb4{ padding-bottom: 4px; }
    .pl4{ padding-left: 4px; }
    .pv4{ padding-top: 4px; padding-bottom: 4px; }
    .ph4{ padding-right: 4px; padding-right: 4px; }

    /* 8 */
    .p8{ padding: 8px; padding-top: 8px; padding-right: 8px; padding-bottom: 8px; padding-left: 8px; }
    .pt8{ padding-top: 8px; }
    .pr8{ padding-right: 8px; }
    .pb8{ padding-bottom: 8px; }
    .pl8{ padding-left: 8px; }
    .pv8{ padding-top: 8px; padding-bottom: 8px; }
    .ph8{ padding-right: 8px; padding-right: 8px; }

    /* 12 */
    .p12{ padding: 12px; padding-top: 12px; padding-right: 12px; padding-bottom: 12px; padding-left: 12px; }
    .pt12{ padding-top: 12px; }
    .pr12{ padding-right: 12px; }
    .pb12{ padding-bottom: 12px; }
    .pl12{ padding-left: 12px; }
    .pv12{ padding-top: 12px; padding-bottom: 12px; }
    .ph12{ padding-right: 12px; padding-right: 12px; }

    /* 16 */
    .p16{ padding: 16px; padding-top: 16px; padding-right: 16px; padding-bottom: 16px; padding-left: 16px; }
    .pt16{ padding-top: 16px; }
    .pr16{ padding-right: 16px; }
    .pb16{ padding-bottom: 16px; }
    .pl16{ padding-left: 16px; }
    .pv16{ padding-top: 16px; padding-bottom: 16px; }
    .ph16{ padding-right: 16px; padding-right: 16px; }

    /* 20 */
    .p20{ padding: 20px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; }
    .pt20{ padding-top: 20px; }
    .pr20{ padding-right: 20px; }
    .pb20{ padding-bottom: 20px; }
    .pl20{ padding-left: 20px; }
    .pv20{ padding-top: 20px; padding-bottom: 20px; }
    .ph20{ padding-right: 20px; padding-right: 20px; }

    /* 24 */
    .p24{ padding: 24px; padding-top: 24px; padding-right: 24px; padding-bottom: 24px; padding-left: 24px; }
    .pt24{ padding-top: 24px; }
    .pr24{ padding-right: 24px; }
    .pb24{ padding-bottom: 24px; }
    .pl24{ padding-left: 24px; }
    .pv24{ padding-top: 24px; padding-bottom: 24px; }
    .ph24{ padding-right: 24px; padding-right: 24px; }

    /* 32 */
    .p32{ padding: 32px; padding-top: 32px; padding-right: 32px; padding-bottom: 32px; padding-left: 32px; }
    .pt32{ padding-top: 32px; }
    .pr32{ padding-right: 32px; }
    .pb32{ padding-bottom: 32px; }
    .pl32{ padding-left: 32px; }
    .pv32{ padding-top: 32px; padding-bottom: 32px; }
    .ph32{ padding-right: 32px; padding-right: 32px; }
    
    /* 36 */
    .p36{ padding: 36px; padding-top: 36px; padding-right: 36px; padding-bottom: 36px; padding-left: 36px; }
    .pt36{ padding-top: 36px; }
    .pr36{ padding-right: 36px; }
    .pb36{ padding-bottom: 36px; }
    .pl36{ padding-left: 36px; }
    .pv36{ padding-top: 36px; padding-bottom: 36px; }
    .ph36{ padding-right: 36px; padding-right: 36px; }
    
    /* 40 */
    .p40{ padding: 40px; padding-top: 40px; padding-right: 40px; padding-bottom: 40px; padding-left: 40px; }
    .pt40{ padding-top: 40px; }
    .pr40{ padding-right: 40px; }
    .pb40{ padding-bottom: 40px; }
    .pl40{ padding-left: 40px; }
    .pv40{ padding-top: 40px; padding-bottom: 40px; }
    .ph40{ padding-right: 40px; padding-right: 40px; }